<ng-container *ngIf="loading$ | async; then loading else content"></ng-container>
<ng-template #loading>
  loading...
</ng-template>


<ng-template #content>
  <section id="favorites">
    <app-contact-list
      title="Favorites:"
      actionIcon="&#9733;"
      [data]="favorite$ | async"
      (clicked)="unFavorite($event)"></app-contact-list>
  </section>

  <section id="contacts">
    <app-contact-list
      title="Contacts:"
      actionIcon="&#9734;"
      [data]="contacts$ | async"
      (clicked)="favorite($event)"></app-contact-list>
  </section>
</ng-template>
