/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

body,
h1,
span,
ul,
li {
  margin: 0;
  padding: 0;
}


@import './assets/styles/index.scss';
